
<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a href="~/Principal">Principal</a>
            <a href="~/menu1/1">Menú Estilo 1</a>
            <a href="~/menu2">Menú Estilo 2</a>
            <a  href="~/menu3/Doble">Menú Estilo 3</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>